
.theme-dark {
	--accent-h:calc(182.72727272727272/255*360);
	--accent-s:calc(67.45098233222961/255*100%);
	--accent-l:calc(53.01204819277109/255*100%);

  --text-normal:#dde4e3;
  --text-muted:#bec8c8;
  --text-faint:#899393;

  --background-primary:#0e1415; /* editor and right ribbon */
  --background-secondary:#0e1415; /* left ribbon */ 
  --background-modifier-hover:#324b4c;
  --background-modifier-active-hover:#b0cccc;
  --background-modifier-message:#0e1415;
  --background-modifier-form-field:#004f52;

  --ribbon-background:#0e1415;
  --divider-color:#324b4c;
  --scrollbar-thumb-bg:#cce8e9;
  --status-bar-border-color:#324b4c;
  --status-bar-background:#0e1415;
  --titlebar-background:#0e1415;
  --titlebar-text-color:#dde4e3;

  --nav-item-color:#bec8c8;
  --nav-item-color-active:#9cf1f4;
  --nav-item-background-active:#004f52;
  --nav-item-color-hover:#cce8e9;
  --nav-item-background-hover:#324b4c;

  --tab-background-active:#004f52;
  --tab-text-color-active:#9cf1f4;
  --tab-text-color:#bec8c8;

  --icon-color:#dde4e3;

  --h1-color:#80d4d8;
  --h2-color: color-mix(in srgb, #80d4d8, #b5c7e9);
  --h3-color:#b5c7e9;
  --h4-color: color-mix(in srgb, #80d4d8, #b0cccc);
  --h5-color:#b0cccc;
  --h6-color: color-mix(in srgb, #b5c7e9, #b0cccc);


  }


/* add parts not accessible without specific selector?*/
.theme-dark .sidebar-toggle-button.mod-left {
  color:#dde4e3;
  background:#0e1415;
}
.theme-dark .sidebar-toggle-button.mod-right {
  color:#dde4e3;
  background:#0e1415;
}

.theme-dark .workspace-tab-header-container{
  background:#0e1415;
}


/* copy for light mode */
.theme-light {
	--accent-h:calc(182.20183470887113/255*360);
	--accent-s:calc(21.37254923582077/255*100%);
	--accent-l:calc(100.0/255*100%);

  --text-normal:#161d1d;
  --text-muted:#3f4949;
  --text-faint:#6f7979;

  --background-primary:#f4fbfa; /* editor and right ribbon */
  --background-secondary:#d5dbdb; /* left ribbon */ 
  --background-modifier-hover:#cce8e9;
  --background-modifier-active-hover:#4a6364;
  --background-modifier-message:#d5dbdb;
  --background-modifier-form-field:#9cf1f4;

  --ribbon-background:#f4fbfa;
  --divider-color:#cce8e9;
  --scrollbar-thumb-bg:#041f20;
  --status-bar-border-color:#cce8e9;
  --status-bar-background:#f4fbfa;
  --titlebar-background:#f4fbfa;
  --titlebar-text-color:#161d1d;

  --nav-item-color:#3f4949;
  --nav-item-color-active:#002021;
  --nav-item-background-active:#9cf1f4;
  --nav-item-color-hover:#041f20;
  --nav-item-background-hover:#cce8e9;

  --tab-background-active:#9cf1f4;
  --tab-text-color-active:#002021;
  --tab-text-color:#3f4949;

  --icon-color:#161d1d;

  --h1-color:#00696d;
  --h2-color: color-mix(in srgb, #00696d, #4d5f7c);
  --h3-color:#4d5f7c;
  --h4-color: color-mix(in srgb, #00696d, #4a6364);
  --h5-color:#4a6364;
  --h6-color: color-mix(in srgb, #4d5f7c, #4a6364);


  }


/* add parts not accessible without specific selector?*/
.theme-light .sidebar-toggle-button.mod-left {
  color:#161d1d;
  background:#f4fbfa;
}
.theme-light .sidebar-toggle-button.mod-right {
  color:#161d1d;
  background:#f4fbfa;
}

.theme-light .workspace-tab-header-container{
  background:#f4fbfa;
}
